<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addVetementForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom Vetement:</label>
      <input type="text" formControlName="title" placeholder="Nom" name="nom" class="form-control" id="nom">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
    </div>
    <div class="form-group">
      <label for="price">Prix:</label>
      <input type="number" formControlName="price" placeholder="Prix" name="price" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="color">Couleur:</label>
      <input type="text" formControlName="color" placeholder="Couleur" name="color" class="form-control" id="color">
    </div>
    <div class="form-group">
      <label for="nbre">Nombre:</label>
      <input type="number" formControlName="nbre" placeholder="Quantité" name="nbre" class="form-control" id="nbre">
    </div>
    <div class="form-group">
      <label for="profil">Catégorie:</label>
      <select class="form-control" formControlName="id_cat" id="profil">
        <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.nom_cat}}
        </option>
      </select>
    </div>
    <button class="btn btn-success" style="margin-bottom: 20px">Ajouter</button>
  </form>
</div>
